
.landing-page-bg {
  background-color: #1D2D44;
  background-image: linear-gradient(
    180deg,
    #080c13 0%, /* Midnight blue */
    #070b13 40%, /* Deep charcoal */
    #0A0A0A 100% /* Almost black */
  );
}

.abel-regular {
  font-family: "Abel", serif;
}
.outfit-regular{
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
}
.glassy-navbar {
  background-color: #0d1520a2;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(106, 106, 106, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.sketch-text {
  font-family: 'Caveat', cursive;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.dashboard-bg {
  background-color: #282828;
  background-image: linear-gradient(90deg, #212121 0%, #020006 100%);  
}
.dashboard-sketch-text {
  font-family: 'Caveat', cursive;
  color: black;
  text-shadow: 1px 1px 2px rgba(246, 146, 53, 0.2);
}
.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}
.figtree-regular {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
.glow-bar {
  box-shadow: 0 0 8px #f97416b3;
  height: 4px;
  background: linear-gradient(to right, transparent, #f97316 50%, transparent);
  border-radius: 2px;
}


